.sidebar-menu {
  a {
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-align: center;

    &:hover {
      background-color: rgb(17, 24, 39);
    }
  }
}

.widget {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #09778b;;
  backdrop-filter: blur(5px);
}
